* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

body {
  background: #ffffff;
  padding: 0px 10px;
}

.top-nav {
  background-color: #333; /* Black background color. to be changed, maybe*/
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
.top-nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.top-nav a:hover {
  background-color: #ddd;
  color: black;
} 